@charset "UTF-8";
header {
	background-color: #6D403E;
}
#about {
	background-color: #000000;
}
#stats {
	background-color: #AF4243;
}
body {
	background-color: #050100;
}
.footer_column {
	background-color: #717070;
}
.cards {
	background-color: #717070;
}
.footer_column p {
	background-color: #ffffff00;
}
